body {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
}

#mainDiv {
	display: flex;
	flex-direction: row;
}
#introscreen {
	display: block;
}
#next {
	display: none;
}
#ded {
	display: none;
}
#retry {
	display: none;
}
#story{
	display: none;
}
.options{
	margin: 3px;
}
.options:hover {
	border: 1px solid white;
}
#grills {
	display: none;
}